body{
    background-image: url('darkness.png');
    font-family: Impact, 'Arial Narrow Bold', sans-serif
}
footer{
    margin-top:50px;
    text-align: right;

}
footer span{
        color:white;
        font-size: 20px;
        margin-left:10px;
        cursor: pointer;
        
    
}
footer :last-child{
    margin-right:20px;
    

}
footer :last-child i{
    color:blue;
}
footer :nth-child(5) i{
    color:red;
}
footer :nth-child(4) i{
    color:rgb(247, 56, 88);
}
footer :nth-child(3) i{
    color:rgb(55, 191, 245);
}
footer :nth-child(2) i{
    color:rgb(11, 11, 170);
}

@media screen and (max-width:576px){
    footer{
        text-align:left;
    }
    footer span {
        margin-left:2px;
    }
}